<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="WebUri" value="http://pokemongo.mandrasoft.fr/" />
    <add key="Login" value="login" />
    <add key="Password" value="password" />
    <add key="AuthType" value="PTC" />
    <add key="BoundsToScan" value="48.899352, 2.260842, 48.818289, 2.454376" /> <!-- 2 points to make a Rectangle (Lat,lnt,lat,lng)-->
    <add key="JobsToLaunch" value="50" />
    <add key="WebDelay" value="15" /> <!-- In Seconds. Time before each post to the website. If you use it for real Time keep it at less than a minute. Otherwise just keep it low enough so that the packages are 2000/3000k pokemons on average. -->
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="C5" publicKeyToken="282361b99ded7e8e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.4.5947.17248" newVersion="2.4.5947.17248" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework.MappingAPI" publicKeyToken="7ee2e825d201459e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.1.0.9" newVersion="6.1.0.9" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>